@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
font-family: 'Roboto', sans-serif;
  background-color:#eee;
  font-size:1.04em;
    padding: 0;
    margin: 0;
}


a{
  color:#00ccff;
}


.btn{
  color: white;
  padding: 14px 0px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background: #0cf;
  width:250px;
  border: 2px solid #000;
  border-radius: 23px;
  text-align: center;
  transition: .3s
}

.btn:hover{
    box-shadow: 0px 0px 8px #333;
}



.btn2{
  color: #0cf;
  padding: 20px 0px;
  font-size: 17px;
  display: block;
  background: #444;
  width:100%;
  text-decoration: none;
  transition: 0.2s
}
.btn2:hover{
  background: #333;
}

code{
  font-size:1.2em;
}
#code{
  background-color:#333;
  border-radius: 7px;
  text-align:left;
  padding: 6px 9px;
  word-wrap: break-word;
  margin: auto;
  border-left: 6px solid #999;
  color:#999;
}

.tout{
  background-color: ;

width: 70%;
 min-width: 270px;
margin:0 auto;
padding 0px 22px;
  text-align: left;
  align-content: center;
}


.fin{
  background-color:#333;

}

body, html{height:100%;}

hr {
border: 1px solid #00ccff;
}


.br1{height:10px}
.br{height:160px}








#counter{
    filter: blur(99px);
    transition: 400ms
}



.nav {
  height: 40px;
  width: 100%;
  background-color: #222222E6;
  position: fixed;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  color: #999;
  float: left;
  font-size:.8999em;  transition: 0.2s
}


.nav > .nav-header > .nav-title > a {
  color: #999;
  text-decoration: none;  transition: 0.2s
}
.nav > .nav-header > .nav-title > a:hover {
color:#0cf;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  float: left;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 12px;
  text-decoration: none;
  color: #999;
  font-size:.8999em;
  transition: 0.2s
}

.nav > .nav-links > a:hover {
color:#0cf;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 7px;
    border-top: 2px solid #999;
  }
  .nav > .nav-links {
    position: absolute;
    width: 60%;
    background-color: #222222E6;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 40x;
    right: 0px;
  }
  .nav > .nav-links > a {
    display: block;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 25px);
    overflow-y: auto;
  }

}
